<% provide(:title, "#{@table}") %>
  <h1><%= @table %></h1>
<table class="table">
  <thead>
    <th>Column name</th>
    <th>Data type</th>
  </thead>
<tbody>
<% @row.each do |r|%>
  <tr>
    <td><%= "#{r.name}" %></td>
    <td><%= "#{r.type}" %></td>
  </tr>
<%end%>
<tbody>
<%= link_to "Edit table", edit_table_edit_path(table_name: @table)%>
</table>
