<% provide(:title, "#{@table}") %>
  <h1><%= @table %></h1>
<table class="table">
  <thead>
  <% @row.each do |r|%>
    <th>
      <%= "#{r.name}" %>
    </th>

    <% end %>
  </thead>
<tbody>
<% @show.map.each do |row| %>
  <tr>
    <% row.values.each do |col| %>
      <td> <%= col %> </td>
    <% end %>
  </tr>
<% end %>
<tbody>
<%= link_to "Add content", new_content_path(table_name: @table)%>
</table>
