<% provide(:title, @database.db_name) %>
<div class = "center" >
      <h1>
        Database name: <%= @database.db_name %> </br>
      </br>
        Create new table:
      </h1>
        <%= button_to "Create", new_table_path, method: :new,
                                class:"btn btn-primary btn-lg"%>


</div>
